@import "/src/style/variables.scss";

.seasonWpapper {
  position: absolute;
  border: 1px solid $primary-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 550px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-height: 70%;
  overflow: visible;

  &:focus {
    outline: none;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    margin: 0 auto;
    border: none;
    max-height: calc(100% - 120px);
  }
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    margin: 0 auto;
    border: none;
    max-height: calc(100% - 120px);
  }


}
.closeBtn {
  position: absolute;
  top: -40px;
  right: 0;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  font-size: 32px;
  font-weight: 900;
  &:hover {
    background-color: transparent;
  }
  @media (max-width: $breakpoint-mobile) {
    top: 17px;
    right: 4px;
  }
}

.title {
  font-size: 50px;
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
  text-align: center;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 23%;
    display: block;
    height: 2px;
    width: 50%;
    background: $second-sub-brand-color;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 30px;
  }
}
.text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content {
  max-height: 100%;
  align-content: stretch;
  overflow-y: auto;
  padding: 16px 24px;
}

.stepsTitle {
  font-size: 18px;
  margin: 10px 0px;
  font-weight: 900;
}
