@import "/src/style/variables.scss";

.searchBarWrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 70px;
  margin: 5px;
}
.searchBarTitle {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 21px;
}
.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchBar {
  display: block;
  width: 500px;
  padding: 10px;
  outline: none;
}
.searchBarBtn {
  width: 150px;
  display: block;
  cursor: pointer;
  background: $brand-color;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 25px;
  border: none;
}
