@import "/src/style/variables.scss";
.container {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: space-between;
  text-align: initial;
  color: $primary-color;
  background: $main-color;
  box-shadow: 0 4px 4px -4px $shadow-color;
  height: 120px;
  padding: 10px;
}
.showInfoBlock {
  position: relative;
}
.showInfoText {
  display: none;
}
.informationIcon {
  position: relative;
}
.informationIcon:hover + .showInfoText {
  display: block;
  position: absolute;
  width: 140px;
  top: 15px;
  background-color: $primary-color;
  color: $main-color;
  padding: 10px;
  z-index: 3;
  @media (max-width: $breakpoint-mobile) {
    right: -10px;
  }
}
.total {
  display: flex;
  margin: 0 auto;
  position: relative;
}
.selectedBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  right: 25px;
  top: 55px;
  @media (max-width: $breakpoint-mobile) {
    left: 6%;
    top: 95px;
    justify-content: center;
  }
}
.selectedShowsText {
  font-weight: bold;
  margin-right: 5px;
  @media (max-width: $breakpoint-mobile) {
    color: $brand-color;
  }
}
.startOverBtn {
  color: $primary-color;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
