$primary-color: white;
$main-color: black;
$brand-color: #f3c304;
$sub-brand-color: #fed534;
$second-sub-brand-color: rgb(249, 232, 0);
$selected-show-color: darkgreen;
$shadow-color: grey;
$breakpoint-mobile: 750px;
$breakpoint-tablet: 1024px;
