@import "/src/style/variables.scss";
.greetingContainer {
  width: 100%;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  @media (max-width: $breakpoint-tablet) {
    height: 700px;
  }
  @media (max-width: $breakpoint-mobile) {
    height: 530px;
  }
}
.blurContainer {
  background-image: url("./backgrounddesign.jpg");
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: $breakpoint-mobile) {
    height: 540px;
    width: auto;
  }
}

.blackContainer {
  position: absolute;
  inset: 0;
  background: $main-color;
  opacity: 0.8;
  @media (max-width: $breakpoint-mobile) {
    height: 540px;
    width: auto;
  }
}
.greetingBlock {
  z-index: 1;
  margin: 50px auto 0px auto;
  text-align: center;
}
.title {
  font-size: 70px;
  padding: 15px 0;
  @media (max-width: $breakpoint-mobile) {
    font-size: 50px;
  }
}
.text {
  font-size: 18px;
  width: 60%;
  line-height: 30px;
  margin: 0 auto;
  padding: 10px 0;
  @media (max-width: $breakpoint-mobile) {
    width: 85%;
    flex-wrap: wrap;
    line-height: normal;
    font-size: 14px;
    margin: 0 auto;
  }
  @media (max-width: $breakpoint-tablet) {
    width: 85%;
  }
}
.readModeBtn {
  padding: 10px 20px;
  display: block;
  border-radius: 6px;
  color: $main-color;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
  background: $brand-color;
  border: 1px solid $brand-color;
  cursor: pointer;
  margin: 20px auto;
  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    padding: 5px 5px;
    letter-spacing: 1px;
    border-radius: 3px;
  }
}
.readModeBtn:hover {
  background: transparent;
  border: 1px solid $brand-color;
  color: $primary-color;
}

.modalWindow {
  background-color: rgba(3, 3, 3, 0.903);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  margin-top: 100px;
  @media (max-width: $breakpoint-mobile) {
    margin-top: 50px;
  }
}
